body{
    height: 100%;
    width: 100%;

}

.hatter{
    background-color: rgba(255, 255, 255, 0.7);
}

.hatterszin {
    background-color: #EE82EE;
}

.navbar{
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
}

.navbar-brand{
    font-family: "Sevillana", cursive;
    font-size: 200%;
}

.kezzelirott{
    font-family: "Sevillana", cursive;
    font-size: 180%;
}

.kozep{
    text-align: center;
    margin: 0 auto;
}

.kek_nagy_cim{
    color: rgb(54, 54, 224);
    font-size: 250%;
    font-family: "Permanent Marker", cursive;
}

.piros_nagy_cim{
    color: rgb(206, 91, 91);
    font-size: 250%;
    font-family: "Permanent Marker", cursive;
}

.bevezeto{
    text-align: center;
    font-size: 150%;
}

.stickytopszar{
    padding-top: 8%;
}
.row{
    margin-right: 0;
    margin-top: 0;
}

.lebegő-kep{
    position: absolute;
    height: 25%;
    top: 20%;
    left: 10%;
    z-index: -2;
    transform: rotate(-20deg);
}

